/* || Components Import */

@import url(./components/titles.css);
@import url(./components/links-buttons.css);
@import url(./components/balance-cards.css);
@import url(./components/form.css);
@import url(./components/data-table.css);
@import url(./components/footer.css);

/* || Global */

:root {
    --dark-blue: #293040;
    --dark-blue-variation: #414b64;
    --light-green: #9cc701;
    --dark-green: #5f760d;
    --background-color: rgb(205, 205, 205);
    --bright-red: rgb(211, 60, 60);
    --dark-red: rgb(150, 37, 37);
}

html {
    font-size: 93.75%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: vox, sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: min(95vw, 375px);
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* || Responsive */
@media (min-width: 760px) {
    html {
        font-size: 87.5% 
    }

    .container {
        width: min(90vw, 760px);
    }

    header {
        animation: bg-animation 80s infinite alternate;
    }

    #balance {
        margin-top: -6rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.25rem;
    }

    .card {
        padding: 1.5rem 2rem;
        width: 100%;
    }

    .card h3 {
        font-size: 1.4rem;
    }
    
    .card p {
        font-size: 2.5rem;
        line-height: 4rem;
    }

    #transaction {
        table-layout: fixed;
        overflow-x: hidden;
    }

    #data-table {
        width: 100%;
        margin-bottom: 10rem;
        border-spacing: 0rem 0.75rem; 
    }

    table th {
        padding: 1.5rem 1.5rem; 
    }
    
    table td {
        padding: 1rem 1rem;
    }
}
