/* Global ====================*/

:root {
    --dark-blue: #293040;
    --dark-blue-variation: #414b64;
    --light-green: #b0e004;
    --dark-green: #88A61B;
    --background-color: rgb(205, 205, 205);
    --bright-red: rgb(220, 38, 38);
    --dark-red: rgb(150, 37, 37);
}

html {
    transition: .3s;
    font-size: 93.75%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: vox, sans-serif;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/*Header ====================*/

header {
    background-color: var(--dark-blue-variation);
    background-image: url(assets/header-background.jpg);
    background-size: contain;
    background-blend-mode:overlay;
    padding: 1.75rem 0rem 7.5rem;
    text-align: center;
}

/*Titles*/

h2 {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

#logo {
    width: 20rem;
}

/* Links & buttons ====================*/
a {
    color: var(--dark-green);
    font-size: 105%;
    text-decoration: none;
    transition: .4s;
}

a:hover {   
    font-size: 110%;
    scale: 1.05;
    color: var(--light-green);
}

button {
    width: 100%;
    height: 50px;
    font-size: 105%;
    border: none;

    padding: 0;
    border-radius: 0.25rem;
    cursor: pointer;
    color: white;
    transition: .4s;
    background-color: var(--dark-green);
}

button:hover {
    background-color: var(--light-green);
    color: var(--dark-blue);
    font-size: 110%;
    scale: 1.05;
}

.button.new {
    display: inline-block;
    margin-bottom: .8rem;
}

.button.cancel {
    color: var(--bright-red);
    height: 50px;
    border: 2px solid var(--bright-red);
    border-radius: 0.25rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.5
}

.button.cancel:hover {
    opacity: 1
}
/* Balance ====================*/
#balance {
    justify-content: center;
    margin-top: -5.6rem;
}

#balance h2{
    color: #fff;
    margin-top: 0;
}

/* Cards ====================*/
.card {
    background-color: #fff;
    padding: 1.5rem 2rem;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;

    color: var(--dark-pink);
}

.card h3 {
    font-weight: normal;  
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card p {
    font-size: 1.9rem;
    line-height: 3rem;
}

.positive {
    background-color: var(--dark-green);
}

.negative {
    background-color: var(--dark-red);
}

.neutral {
    background-color: #8c8c8c;
}

/* Data-table ====================*/
#transaction {
    display: block;
    overflow-x: auto;
}

#data-table {
    width: 100%;
    border-spacing: 0rem 0.75rem; 
}

table th {
    background-color: #fff;
    font-weight: normal;
    text-align: left;
    padding: 2rem 2rem;
    color: rgb(104, 104, 104);
    
}

table td {
    background-color: #fff;
    padding: 1rem 2rem;
    color: rgb(104, 104, 104);
}

table tbody tr {
    opacity: 0.65;
    transition: 0.15s;
}

table tbody tr:hover {
    opacity: 1;
}

table thead tr th:first-child,
table tbody tr td:first-child{
    border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    border-radius: 0 0.25rem 0.25rem 0;
}

td.description {
    color: var(--dark-pink)
}

td.expense {
    color: rgb(220, 38, 38)
}

td.income {
    color: rgb(47, 166, 47);
}

/* Modal ====================*/
.modal-overlay {
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);

    position: fixed;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal {
    background-color: rgb(226, 215, 215);
    padding: 2.5rem;
    border-radius: 0.25rem;
    width: 95%;
    max-width: 600px;
}

/* Form ====================*/ 
#form {
    max-width: 600px;
}

#form h2 {
    margin-top: 0;
}

#form form input {
    font-family: vox, sans-serif;
    border: none;
    border-radius: 0.25rem;
    padding: 0.7rem;
    width: 100%;
}

#form form .input-group {
    margin-top: 0.75rem;
}

#form form .input-group .help {
    opacity: 0.5;
}

.input-group.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
    font-family: vox, sans-serif;
    width: 48%;
}

/* Footer ====================*/
footer {
    text-align: center;
    margin-top: 1rem;
}

/* Responsive ====================*/
@media (min-width: 800px) {
    html {
        font-size: 87.5% 
    }

    #balance {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}